<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="KAFKA" class="com.github.jcustenborder.kafka.connect.logback.KafkaAppender">
        <topic>logs</topic>
        <keyPattern>%logger{5}:%msg</keyPattern>
        <valuePattern>%d{ISO8601} %msg%n</valuePattern>
        <producerConfig>
            bootstrap.servers=43.200.242.21:9092
            acks=all
        </producerConfig>
    </appender>

    <appender name="ELASTIC" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <remoteHost>43.200.242.21</remoteHost>
        <port>5000</port>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="KAFKA" />
        <appender-ref ref="ELASTIC" />
    </root>
</configuration>